<h2>Login Handlebars</h2>

<form id="form">
    
    <label for="email">Email</label>
    <input type="email" name="email" id="email">

    <label for="password">Contraseña</label>
    <input type="text" name="password" id="password">

    <input type="submit" value="INGRESAR">
    
</form>

<button id="button">PROBAR</button>

<script src="../index.js"></script>