<h2>Mi perfil</h2>

<div>
    <ul>
        <li>
            Nombre: {{userData.firstName}}
        </li>
        <li>
            Apellido: {{userData.lastName}}
        </li>
        <li>
            Email: {{userData.email}}
        </li>
        <li>
            Edad: {{userData.age}}
        </li>
    </ul>
</div>

<button onclick="location.href='/user/logout'">Logout</button>