<h2>Conectado con websocket</h2>
<h3>Agregar producto</h3>

<form id="formulario">
    <input type="text" name="mensaje" id="input">
    <input type="submit" value="Enviar">
</form>

{{#each products}}

<div id="container">
    
</div>

{{/each}}


<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>