<h1>Registro</h1>

<form action="/user/register" method="post">
    
    <label for="firstName">Nombre</label>
    <input type="text" name="firstName" id="firstName" required>

    <label for="lastName">Apellido</label>
    <input type="text" name="lastName" id="lastName" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="email" required>

    <label for="age">Edad</label>
    <input type="text" name="age" id="age" required>

    <label for="password">Contraseña</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="ENVIAR">
    
</form>

<h3>Registrarse con GitHub</h3>

<button onclick="location.href='/user/registroGithub'">Registrarse</button>